html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container{
  height: 100%;
  width: 100%;
}

.infowindow{
  text-transform: capitalize;
}

.info-image{
  display: block;
  margin: 0 auto;
}

#map {
  height: 100%;
  width: 70%;
  float: right;
}

#markers{
  height: 100%;
  width: 30%;
  position: absolute;
  float: left;
  padding: 10px;
  background-color: black;
  overflow: scroll;
}

#marker{
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

#filter_form{
  margin: 10px;
}
